html {
    background-color: green;
    font-family: sans-serif;
}

.menu-heading {
    border-style: solid;
    border-color: #000;
    border-width: 2px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #ddd;
    color: hsl(0,50%,50%)
}
.list {
    background-color: skyblue;
}
.title {
    list-style-type: none;
}
.local-sandwhiches {
    background-color: deepskyblue;
}